<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blog.auth.dao.MenuMapper">

    <!--删除菜单关联的角色-->
    <delete id="deleteRole">
        DELETE from sys_menu_role
        WHERE menu_id=#{id}
    </delete>


    <!--根据菜单id集合 获取对应的权限-->
    <select id="getAuthList" resultType="com.blog.core.entity.auth.Menu">
        SELECT id,auth,path from sys_menu
        WHERE id in
        <foreach item="item" collection="ids" index="index" open="("
                 separator="," close=")">
            #{item}
        </foreach>
    </select>


    <!--获取所有菜单-->
    <select id="getMenuList" resultType="com.blog.core.entity.auth.Menu">
        SELECT * from sys_menu
        ORDER BY pai_xu
    </select>


    <!--查看角色对应的权限-->
    <select id="getRoleAuth" resultType="java.lang.String">
        SELECT
            auth
        FROM
            sys_menu
        WHERE
            id IN ( SELECT menu_id FROM sys_menu_role WHERE role_id = #{roleId} )
        ORDER BY
            pai_xu
    </select>

    <!--查询用户关联的菜单id-->
    <select id="getMenuIdsByUserId" resultType="Integer">
        SELECT
            menu_id
        FROM
            sys_menu_role
        WHERE
            role_id IN ( SELECT role_id FROM sys_user_role WHERE user_id = #{userId} )
    </select>

    <!--根据菜单id集合查询父级id -->
    <select id="getPIdsByIds" resultType="Integer">
        SELECT DISTINCT
        parent_id
        FROM
        sys_menu
        WHERE
        id IN
        <foreach item="item" collection="ids" index="index" open="("
                 separator="," close=")">
            #{item}
        </foreach>
    </select>

</mapper>