<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blog.auth.mapper.MenuMapper">

    <resultMap id="BaseResultMap" type="com.blog.core.domain.auth.entity.Menu">
        <id property="id" column="id" />
        <result property="parentId" column="parent_id"/>
        <result property="menuName" column="menu_name"/>
        <result property="menuIcon" column="menu_icon"/>
        <result property="menuPath" column="menu_path"/>
        <result property="auth" column="auth"/>
        <result property="menuType" column="menu_type"/>
        <result property="sort" column="sort"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <sql id="BaseResultSql">
        id, parent_id, menu_name, menu_icon, menu_path, auth, menu_type, sort, create_time
    </sql>

    <!--查看角色下的菜单-->
    <select id="selectRoleMenuByRoleIds" resultMap="BaseResultMap">
        SELECT <include refid="BaseResultSql"/> from sys_menu
        WHERE id in ( SELECT distinct menu_id from sys_menu_role WHERE menu_type &lt;= #{menuType} and role_id in
        <foreach item="item" collection="roleIds" index="index" open="(" separator="," close=")">
            #{item}
        </foreach>)
        order by sort
    </select>

    <!--查看角色下的菜单-->
    <select id="selectRoleMenuByRoleId" resultMap="BaseResultMap">
        SELECT
        <include refid="BaseResultSql"/>
        from sys_menu
        WHERE id in ( SELECT distinct menu_id from sys_menu_role WHERE role_id = #{roleId})
        order by sort
    </select>


    <!--根据菜单id集合 获取对应的权限-->
    <select id="getAuthList" resultType="com.blog.core.domain.auth.entity.Menu">
        SELECT id, auth, menu_path from sys_menu
        WHERE id in
        <foreach item="item" collection="ids" index="index" open="("
                 separator="," close=")">
            #{item}
        </foreach>
    </select>


    <!--获取所有菜单-->
    <select id="getMenuList" resultType="com.blog.core.domain.auth.entity.Menu">
        SELECT *
        from sys_menu
        ORDER BY sort
    </select>


    <!--查看角色对应的权限-->
    <select id="getRoleAuth" resultType="java.lang.String">
        SELECT auth
        FROM sys_menu
        WHERE id IN (SELECT menu_id FROM sys_menu_role WHERE role_id = #{roleId})
        ORDER BY sort
    </select>

    <!--查询用户关联的菜单id-->
    <select id="getMenuIdsByUserId" resultType="Integer">
        SELECT menu_id
        FROM sys_menu_role
        WHERE role_id IN (SELECT role_id FROM sys_user_role WHERE user_id = #{userId})
    </select>

    <!--根据菜单id集合查询父级id -->
    <select id="getPIdsByIds" resultType="Integer">
        SELECT DISTINCT parent_id FROM sys_menu
        WHERE id IN
        <foreach item="item" collection="ids" index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

</mapper>