ACTION=="add", \
SUBSYSTEM=="block", \
ENV{DEVTYPE}=="partition", \
ENV{ID_FS_TYPE}=="ntfs", \
ENV{ID_FS_UUID}!="", \
TAG+="systemd", \
ENV{SYSTEMD_WANTS}="automount@%E{ID_FS_UUID}.service"

ACTION=="remove", \
SUBSYSTEM=="block", \
ENV{DEVTYPE}=="partition", \
ENV{ID_FS_TYPE}=="ntfs", \
ENV{ID_FS_UUID}!="", \
RUN+="/usr/bin/systemctl stop automount@%E{ID_FS_UUID}.service"