KERNEL=="sd*", SUBSYSTEM=="block", ENV{ID_FS_UUID}!="", \
  ACTION=="add", RUN+="/bin/systemctl start automount@%E{ID_FS_UUID}.service", \
  ACTION=="remove", RUN+="/bin/systemctl stop automount@%E{ID_FS_UUID}.service"
