<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.blog.file.mapper.DeviceChipMapper">
    <resultMap id="BaseResultMap" type="com.blog.core.domain.file.device.entity.DeviceChip">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="device_code" property="deviceCode" jdbcType="VARCHAR"/>
        <result column="chip_code" property="chipCode" jdbcType="VARCHAR"/>
        <result column="code_status" property="codeStatus" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, device_code, chip_code, code_status, create_time, update_time
    </sql>

</mapper>