<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.blog.file.mapper.DictDataMapper">
    <resultMap id="BaseResultMap" type="com.blog.core.domain.file.dict.DictData">
        <id property="id" column="id"/>
        <result property="dictTypeCode" column="dict_type_code"/>
        <result property="dictDataLabel" column="dict_data_label"/>
        <result property="dictDataValue" column="dict_data_value"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, dict_type_code, dict_data_label, dict_data_value, create_time, update_time
    </sql>

    <delete id="deleteDictDataByDictTypeCode" parameterType="java.lang.String">
        delete from dict_type
        where dict_type_code = #{dictTypeCode}
    </delete>

</mapper>
