<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.blog.file.mapper.FileUploadLogMapper">
    <resultMap id="BaseResultMap" type="com.blog.core.domain.file.files.entity.FileUploadLog">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="file_name" property="fileName"/>
        <result column="file_url" property="fileUrl"/>
        <result column="file_type" property="fileType"/>
        <result column="upload_state" property="uploadState"/>
        <result column="error_msg" property="errorMsg"/>
        <result column="create_by" property="createBy"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, user_id, file_name, file_url, file_type, upload_state, error_msg, create_by, create_time
    </sql>

</mapper>