<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.blog.file.mapper.TaskLogMapper">
    <resultMap id="BaseResultMap" type="com.blog.core.domain.file.task.entity.TaskLog">
        <id column="id" property="id"/>
        <result column="task_name" property="taskName"/>
        <result column="task_code" property="taskCode"/>
        <result column="child_task_code" property="childTaskCode"/>
        <result column="task_uuid" property="taskUUID"/>
        <result column="task_log_type" property="taskLogType"/>
        <result column="index_count" property="indexCount"/>
        <result column="task_count" property="taskCount"/>
        <result column="task_result_status" property="taskResultStatus"/>
        <result column="task_result" property="taskResult"/>
        <result column="error_msg" property="errorMsg"/>
        <result column="start_time" property="startTime"/>
        <result column="end_time" property="endTime"/>
    </resultMap>





    <select id="selectTaskLogList" resultType="com.blog.core.domain.file.task.vo.TaskLogVo">
        select l.*, c.logCount
        from task_log l
                 left join (select task_uuid, count(task_uuid) as logCount from task_log group by task_uuid) c
                           on l.task_uuid = c.task_uuid
        where task_log_type = 1
    </select>

</mapper>